<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CrewChiefV4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <CrewChiefV4.Properties.Settings>
      <setting name="background_volume" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="update_interval" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="minimum_time_between_pearls_of_wisdom" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="use_sweary_messages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disable_immediate_messages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_spotter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="log_tyre_temps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="speech_recognition_location" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="r3e_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="spotter_gap_for_clear" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="time_after_race_start_for_spotter" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="min_speed_for_spotter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="spotter_hold_repeat_frequency" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="max_closing_speed_for_spotter" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="spotter_clear_delay" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="spotter_overlap_delay" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="enable_pearls_of_wisdom" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frequency_of_pearls_of_wisdom" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="play_cut_track_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CHANNEL_OPEN_FUNCTION_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CHANNEL_OPEN_FUNCTION_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="CHANNEL_OPEN_FUNCTION_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_RACE_UPDATES_FUNCTION_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_RACE_UPDATES_FUNCTION_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_RACE_UPDATES_FUNCTION_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_SPOTTER_FUNCTION_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_SPOTTER_FUNCTION_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_SPOTTER_FUNCTION_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="VOICE_OPTION" serializeAs="String">
        <value>DISABLED</value>
      </setting>
      <setting name="custom_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="r3e_launch_params" serializeAs="String">
        <value>-applaunch 211500</value>
      </setting>
      <setting name="launch_raceroom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="run_immediately" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="messages_volume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="enable_tyre_temp_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_race_start_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_fuel_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_gap_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_position_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_session_end_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_tyre_wear_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="spotter_update_interval" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="pcars64_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/steam/steamapps/common/pCars/pCARS.exe</value>
      </setting>
      <setting name="pcars32_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/steam/steamapps/common/pCars/pCARS.exe</value>
      </setting>
      <setting name="pcars64_launch_params" serializeAs="String">
        <value />
      </setting>
      <setting name="pcars32_launch_params" serializeAs="String">
        <value>-x86</value>
      </setting>
      <setting name="launch_pcars" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pcars_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="last_game_definition" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_READ_OPPONENT_DELTAS_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_READ_OPPONENT_DELTAS_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_READ_OPPONENT_DELTAS_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="enable_brake_temp_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_wheel_spin_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_brake_lock_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="attempt_pcars_opponent_pit_detection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_green_light_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pcars_steam_id" serializeAs="String">
        <value />
      </setting>
      <setting name="cumulative_lap_lockup_warning_threshold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="cumulative_lap_wheelspin_warning_threshold" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="use_listen_beep" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REPEAT_LAST_MESSAGE_BUTTON_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="REPEAT_LAST_MESSAGE_BUTTON_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="REPEAT_LAST_MESSAGE_BUTTON_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="enable_driver_names" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="minimum_name_voice_recognition_confidence" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="minimum_voice_recognition_confidence" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="display_session_lap_times" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frequency_of_race_sector_delta_reports" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="frequency_of_opponent_race_lap_times" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="frequency_of_player_race_lap_time_reports" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="frequency_of_prac_and_qual_sector_delta_reports"
        serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="race_sector_reports_at_each_sector" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="practice_and_qual_sector_reports_at_each_sector"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="race_sector_reports_at_lap_end" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="practice_and_qual_sector_reports_at_lap_end" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="frequency_of_gap_ahead_reports" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="frequency_of_gap_behind_reports" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="frequency_of_car_close_ahead_reports" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="frequency_of_car_close_behind_reports" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="frequency_of_opponent_practice_and_qual_lap_times"
        serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="enable_track_and_air_temp_reports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ambient_temp_check_interval_seconds" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="track_temp_check_interval_seconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="report_ambient_temp_changes_greater_than" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="report_track_temp_changes_greater_than" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="udp_data_port" serializeAs="String">
        <value>5606</value>
      </setting>
      <setting name="enable_damage_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_brake_damage_messages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_suspension_damage_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frequency_of_overtaking_messages" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="frequency_of_being_overtaken_messages" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="frequency_of_player_prac_and_qual_lap_time_reports"
        serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="use_alternate_beeps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disable_pcars_prac_and_qual_pole_deltas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pause_between_messages" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="enable_drs_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_push_to_pass_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="use_fahrenheit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="override_default_sound_pack_location" serializeAs="String">
        <value />
      </setting>
      <setting name="cache_sounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="min_time_between_personalised_messages" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="load_sound_files_on_startup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pcars_character_encoding" serializeAs="String">
        <value>windows-1252</value>
      </setting>
      <setting name="enable_spotter_in_timetrial" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_pcars_pit_window_messages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="use_tts_for_missing_names" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_delayed_responses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_pit_exit_brake_temp_warning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_pit_exit_tyre_temp_warning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_console_logging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rf1_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="rf1_launch_params" serializeAs="String">
        <value>-applaunch 339790</value>
      </setting>
      <setting name="rf1_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="launch_rfactor1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launch_gsc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launch_ams" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gsc_launch_params" serializeAs="String">
        <value>-applaunch 273840</value>
      </setting>
      <setting name="ams_launch_params" serializeAs="String">
        <value>-applaunch 431600</value>
      </setting>
      <setting name="gsc_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="ams_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="r3e_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="marcas_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="marcas_launch_params" serializeAs="String">
        <value>-applaunch 359800</value>
      </setting>
      <setting name="ftruck_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="ftruck_launch_params" serializeAs="String">
        <value>-applaunch 273750</value>
      </setting>
      <setting name="launch_marcas" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launch_ftruck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="acs_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="acs_launch_params" serializeAs="String">
        <value>-applaunch 244210</value>
      </setting>
      <setting name="launch_acs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="r3e_blue_flag_detection_distance" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="asc_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="enable_acs_log_sectors_for_unknown_tracks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="play_pre_lights_messages_until_cancelled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disable_acs_yellow_flag_warnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launch_rfactor2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rf2_launch_exe" serializeAs="String">
        <value />
      </setting>
      <setting name="rf2_launch_params" serializeAs="String">
        <value />
      </setting>
      <setting name="rf2_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="time_between_caution_period_status_reminders"
        serializeAs="String">
        <value>60</value>
      </setting>
    </CrewChiefV4.Properties.Settings>
  </userSettings>
</configuration>
