<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CrewChiefV4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <!--Needed for capturing traces over 2Gb in size.-->
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <userSettings>
    <CrewChiefV4.Properties.Settings>
      <setting name="background_volume" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="update_interval" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="minimum_time_between_pearls_of_wisdom" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="use_sweary_messages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_spotter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="log_tyre_stats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="speech_recognition_country" serializeAs="String">
        <value />
      </setting>
      <setting name="r3e_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="spotter_gap_for_clear" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="time_after_race_start_for_spotter" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="min_speed_for_spotter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="spotter_hold_repeat_frequency" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="max_closing_speed_for_spotter" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="spotter_clear_delay" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="spotter_overlap_delay" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="enable_pearls_of_wisdom" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frequency_of_pearls_of_wisdom" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="play_cut_track_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CHANNEL_OPEN_FUNCTION_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CHANNEL_OPEN_FUNCTION_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="CHANNEL_OPEN_FUNCTION_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_RACE_UPDATES_FUNCTION_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_RACE_UPDATES_FUNCTION_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_RACE_UPDATES_FUNCTION_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_SPOTTER_FUNCTION_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_SPOTTER_FUNCTION_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_SPOTTER_FUNCTION_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="VOICE_OPTION" serializeAs="String">
        <value>DISABLED</value>
      </setting>
      <setting name="custom_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="r3e_launch_params" serializeAs="String">
        <value>-applaunch 211500</value>
      </setting>
      <setting name="launch_raceroom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="run_immediately" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="messages_volume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="enable_tyre_temp_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_race_start_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_fuel_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_gap_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_position_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_session_end_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_tyre_wear_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="spotter_update_interval" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="pcars64_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/steam/steamapps/common/pCars/pCARS.exe</value>
      </setting>
      <setting name="pcars32_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/steam/steamapps/common/pCars/pCARS.exe</value>
      </setting>
      <setting name="pcars64_launch_params" serializeAs="String">
        <value />
      </setting>
      <setting name="pcars32_launch_params" serializeAs="String">
        <value>-x86</value>
      </setting>
      <setting name="launch_pcars" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pcars_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="last_game_definition" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_READ_OPPONENT_DELTAS_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_READ_OPPONENT_DELTAS_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_READ_OPPONENT_DELTAS_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="enable_brake_temp_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_wheel_spin_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_brake_lock_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="attempt_pcars_opponent_pit_detection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_green_light_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pcars_steam_id" serializeAs="String">
        <value />
      </setting>
      <setting name="cumulative_lap_lockup_warning_threshold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="cumulative_lap_wheelspin_warning_threshold" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="use_listen_beep" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REPEAT_LAST_MESSAGE_BUTTON_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="REPEAT_LAST_MESSAGE_BUTTON_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="REPEAT_LAST_MESSAGE_BUTTON_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="enable_driver_names" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="minimum_name_voice_recognition_confidence" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="minimum_voice_recognition_confidence" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="display_session_lap_times" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frequency_of_race_sector_delta_reports" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="frequency_of_opponent_race_lap_times" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="frequency_of_player_race_lap_time_reports" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="frequency_of_prac_and_qual_sector_delta_reports"
        serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="race_sector_reports_at_each_sector" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="practice_and_qual_sector_reports_at_each_sector"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="race_sector_reports_at_lap_end" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="practice_and_qual_sector_reports_at_lap_end" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="frequency_of_gap_ahead_reports" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="frequency_of_gap_behind_reports" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="frequency_of_car_close_ahead_reports" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="frequency_of_car_close_behind_reports" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="frequency_of_opponent_practice_and_qual_lap_times"
        serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="enable_track_and_air_temp_reports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ambient_temp_check_interval_seconds" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="track_temp_check_interval_seconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="report_ambient_temp_changes_greater_than" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="report_track_temp_changes_greater_than" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="udp_data_port" serializeAs="String">
        <value>5606</value>
      </setting>
      <setting name="enable_damage_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_brake_damage_messages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_suspension_damage_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="frequency_of_overtaking_messages" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="frequency_of_being_overtaken_messages" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="frequency_of_player_prac_and_qual_lap_time_reports"
        serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="use_alternate_beeps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="disable_pcars_prac_and_qual_pole_deltas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pause_between_messages" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="enable_drs_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_push_to_pass_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="use_fahrenheit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="override_default_sound_pack_location" serializeAs="String">
        <value />
      </setting>
      <setting name="cache_sounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="min_time_between_personalised_messages" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="load_sound_files_on_startup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pcars_character_encoding" serializeAs="String">
        <value>windows-1252</value>
      </setting>
      <setting name="enable_spotter_in_timetrial" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_pcars_pit_window_messages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_delayed_responses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_pit_exit_brake_temp_warning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_pit_exit_tyre_temp_warning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_console_logging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rf1_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="rf1_launch_params" serializeAs="String">
        <value>-applaunch 339790</value>
      </setting>
      <setting name="rf1_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="launch_rfactor1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launch_gsc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launch_ams" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gsc_launch_params" serializeAs="String">
        <value>-applaunch 273840</value>
      </setting>
      <setting name="ams_launch_params" serializeAs="String">
        <value>-applaunch 431600</value>
      </setting>
      <setting name="gsc_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="ams_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="r3e_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="marcas_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="marcas_launch_params" serializeAs="String">
        <value>-applaunch 359800</value>
      </setting>
      <setting name="ftruck_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="ftruck_launch_params" serializeAs="String">
        <value>-applaunch 273750</value>
      </setting>
      <setting name="launch_marcas" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launch_ftruck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="acs_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="acs_launch_params" serializeAs="String">
        <value>-applaunch 244210</value>
      </setting>
      <setting name="launch_acs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="r3e_blue_flag_detection_distance" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="enable_acs_log_sectors_for_unknown_tracks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="play_pre_lights_messages_until_cancelled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disable_acs_yellow_flag_warnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launch_rfactor2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rf2_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/Steam.exe</value>
      </setting>
      <setting name="rf2_launch_params" serializeAs="String">
        <value>-applaunch 365960</value>
      </setting>
      <setting name="rf2_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="enable_rf2_pit_stop_prediction" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="time_between_caution_period_status_reminders"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="VOLUME_UP_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="VOLUME_UP_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="VOLUME_UP_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="VOLUME_DOWN_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="VOLUME_DOWN_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="VOLUME_DOWN_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CONTROLLER_DATA" serializeAs="String">
        <value />
      </setting>
      <setting name="enable_ams_pit_schedule_messages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PERSONALISATION_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="app_version" serializeAs="String">
        <value />
      </setting>
      <setting name="acs_practice_time_minuts" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="report_yellows_in_all_sectors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PRINT_TRACK_DATA_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="PRINT_TRACK_DATA_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="PRINT_TRACK_DATA_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="max_distance_moved_for_yellow_announcement" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="acs_install_path" serializeAs="String">
        <value />
      </setting>
      <setting name="rf2_install_path" serializeAs="String">
        <value />
      </setting>
      <setting name="ams_install_path" serializeAs="String">
        <value />
      </setting>
      <setting name="rf1_install_path" serializeAs="String">
        <value />
      </setting>
      <setting name="acs_spotter_car_length" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="report_allowed_overtakes_under_yellow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_simple_incident_detection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_yellow_flag_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TOGGLE_YELLOW_FLAG_MESSAGES_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_YELLOW_FLAG_MESSAGES_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_YELLOW_FLAG_MESSAGES_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="enable_opponent_crash_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="prefer_alternative_download_site" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="always_report_time_in_hundredths" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="use_american_terms" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="realistic_mode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="spotter_enable_three_wide_left_and_right" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="spotter_name" serializeAs="String">
        <value>Jim (default)</value>
      </setting>
      <setting name="GET_FUEL_STATUS_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="GET_FUEL_STATUS_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="GET_FUEL_STATUS_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="insert_beep_in_between_spotter_and_chief" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="insert_beep_out_between_spotter_and_chief" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TOGGLE_MANUAL_FORMATION_LAP_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_MANUAL_FORMATION_LAP_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_MANUAL_FORMATION_LAP_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="minimize_to_tray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="minimize_on_startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="update_notify_attempted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="manual_formation_go_with_leader" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="reject_message_when_talking" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pcars2_launch_exe" serializeAs="String">
        <value>C:/Program Files (x86)/Steam/steamapps/common/Project CARS 2/pCARS2AVX.exe</value>
      </setting>
      <setting name="pcars2_launch_params" serializeAs="String">
        <value />
      </setting>
      <setting name="launch_pcars2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_rf2_frozen_order_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iracing_launch_exe" serializeAs="String">
        <value />
      </setting>
      <setting name="iracing_launch_params" serializeAs="String">
        <value />
      </setting>
      <setting name="launch_iracing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_rf2_cut_track_heuristics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_rf2_pit_lane_approach_heuristics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_command_macros" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pcars_enable_rain_prediction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="READ_CORNER_NAMES_FOR_LAP_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="READ_CORNER_NAMES_FOR_LAP_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="READ_CORNER_NAMES_FOR_LAP_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="last_trace_file_name" serializeAs="String">
        <value />
      </setting>
      <setting name="GET_CAR_STATUS_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="GET_CAR_STATUS_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="GET_CAR_STATUS_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="GET_STATUS_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="GET_STATUS_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="GET_STATUS_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="GET_SESSION_STATUS_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="GET_SESSION_STATUS_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="GET_SESSION_STATUS_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="GET_DAMAGE_REPORT_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="GET_DAMAGE_REPORT_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="GET_DAMAGE_REPORT_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="disable_alternative_voice_commands" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TOGGLE_PACE_NOTES_RECORDING_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_PACE_NOTES_RECORDING_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_PACE_NOTES_RECORDING_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_PACE_NOTES_PLAYBACK_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_PACE_NOTES_PLAYBACK_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_PACE_NOTES_PLAYBACK_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="use_naudio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NAUDIO_DEVICE_GUID_MESSAGES" serializeAs="String">
        <value />
      </setting>
      <setting name="NAUDIO_DEVICE_GUID_BACKGROUND" serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_TRACK_LANDMARKS_RECORDING_button_index"
        serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TOGGLE_TRACK_LANDMARKS_RECORDING_device_guid"
        serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_TRACK_LANDMARKS_RECORDING_device_type"
        serializeAs="String">
        <value />
      </setting>
      <setting name="ADD_TRACK_LANDMARK_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ADD_TRACK_LANDMARK_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="ADD_TRACK_LANDMARK_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="enable_battery_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tts_volume_boost" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="iracing_pit_tyre_pressure_in_psi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tts_trim_end_milliseconds" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="tts_trim_start_milliseconds" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="spotter_volume_boost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="report_fuel_in_gallons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="manual_formation_double_file" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="use_verbose_responses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="save_list_of_unvocalized_names" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_ams_blue_on_slower" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_rants" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="spotter_oval_clear_delay" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="use_naudio_for_speech_recognition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NAUDIO_RECORDING_DEVICE_GUID" serializeAs="String">
        <value />
      </setting>
      <setting name="enable_rf2_pit_state_during_fcy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_ams_pit_state_during_fcy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="bring_game_window_to_front_for_macros" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="report_all_laps_in_hotlap_mode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_crash_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="force_single_class" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="force_min_window_size" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pit_box_position_countdown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_multiclass_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="allow_macros_to_trigger_automatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="target_warning_time_for_faster_class_car" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="target_warning_time_for_slower_class_car" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="max_unknown_car_classes_for_assetto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="iracing_fast_parsing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="add_additional_fuel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="iracing_invalidate_cut_track_laps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_iracing_pit_stop_commands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="force_rf2_rolling_start" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_pit_exit_position_estimates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PIT_PREDICTION_button_index" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PIT_PREDICTION_device_guid" serializeAs="String">
        <value />
      </setting>
      <setting name="PIT_PREDICTION_device_type" serializeAs="String">
        <value />
      </setting>
      <setting name="enable_opponent_pit_exit_estimates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enable_delayed_messages_on_hardparts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TOGGLE_BLOCK_MESSAGES_IN_HARD_PARTS_device_guid"
        serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_BLOCK_MESSAGES_IN_HARD_PARTS_device_type"
        serializeAs="String">
        <value />
      </setting>
      <setting name="TOGGLE_BLOCK_MESSAGES_IN_HARD_PARTS_button_index"
        serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="iracing_enable_auto_fuel_to_end_of_race" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="priortise_messages_depending_on_situation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="interrupt_setting_listprop" serializeAs="String">
        <value>SPOTTER_MESSAGES</value>
      </setting>
      <setting name="tts_setting_listprop" serializeAs="String">
        <value>NEVER</value>
      </setting>
      <setting name="trigger_word_for_always_on_sre" serializeAs="String">
        <value>Chief</value>
      </setting>
      <setting name="trigger_word_sre_min_confidence" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="trigger_word_listen_timeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="enable_alarm_clock_voice_recognition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="alarm_clock_times" serializeAs="String">
        <value />
      </setting>
      <setting name="chief_name" serializeAs="String">
        <value>Jim (default)</value>
      </setting>
      <setting name="disable_behavior_altering_voice_commands" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="slow_class_car_warnings_in_race_only" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="f1_2018_launch_exe" serializeAs="String">
        <value />
      </setting>
      <setting name="f1_2018_launch_params" serializeAs="String">
        <value />
      </setting>
      <setting name="launch_f1_2018" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="f1_2018_udp_data_port" serializeAs="String">
        <value>20777</value>
      </setting>
      <setting name="f1_2018_spotter_car_length" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="pcars2_spotter_car_length" serializeAs="String">
        <value>5</value>
      </setting>
    </CrewChiefV4.Properties.Settings>
  </userSettings>
</configuration>
